{
    "plugins": [
        "react", "smells"
    ],
    "extends": [
        "eslint:recommended", "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },

    "rules": {
        "no-console": 0,
        "no-underscore-dangle": 1,
        "quotes": [2, "single"],
        "smells/no-switch": 1,
        "smells/no-complex-switch-case": 1,
        "smells/no-setinterval": 1,
        "smells/no-this-assign": 1
    }
}
